body {
    background-image: url('../img/Cleric.png');
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Almendra SC', serif;
}

.hp{
    padding-top:7px;
    padding-left:20px;
    font-size:40px;
}

h2 {
    text-decoration: solid underline;
}

.Bstory {
    font-family: 'Kaushan Script', cursive;
}

.bg-black {
  background: #0e0e0e;
  color: #fff; }

.bg-page {
    background-color:#F8ECC2;
}

.bg-inpage {
    background-color: #eadba4;
}

#main-header img {
    width: 100%;
    height: 100%;
}
     
#main-header .port-item {
  width: 30%; }
  #main-header .port-item .fa {
    font-size: 2em; }

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}


.title strong{
    color: #8d0000;
    font-size:30px;
    padding-left:10px;  
}


.exp-button {
    border-radius: 2em;
    padding: 0.4em;
    outline: none;
    color:#fff;
    background-color:#4d4d4d;

}

    .exp-button:hover {
        opacity: 0.8;
        cursor: pointer;
        color: #c8c8c8;
        background-color: #2a2a2a;
    }


.trait-tab,
.skills-tab,
.inventory-tab ,
.BS-tab {
    background-color: #F8ECC2;
    color: #292c2e;
    border: 2px solid #f5e5ab;
    border-top-right-radius: 2em;
}

.tab-bg {
    background-color: #f3de94;
}



.container-border {
    border: 10px solid #292b2d;
    border-radius: 2em;
    background-color: #292b2d;
    padding:1em;
}

div.dice-button {
    margin: 30px;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */

}

    div.dice-button p {
        margin: 5%;
        font-weight: bold;
        color: #000;
        font-size: 1.2em;
    }

@media screen and (max-width: 420px) {

    .container-border {
        border: 1em solid #292b2d;
        border-radius: 2em;
        background-color: #292b2d;
        padding: 0.2em;
    }

    #main-header .port-item {
        width: 25%;
    }

        #main-header .port-item .fa {
            font-size: 1em;
        }

    body {
        background-color:#f5e5ab;
        overflow:no-display;
    }

    div.dice-button {
        margin: 20px;
        opacity: 0.9;
        filter: alpha(opacity=90); /* For IE8 and earlier */
    }

        div.dice-button p {
            font-weight: bold;
            color: #000;
            font-size:.75em;
        }

}

.charPicture {
    border: 5px solid #292b2d;

}

@media screen and (min-width: 568px) {
    
    .dice-img{
        margin-left:25%;
    }

}

@media screen and (min-width: 768px){
    .exp-btn-block {
        margin-left: 20%;
    }
}

.dice-img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.dice-img {
    border: 2px solid #343a40;
    background-size: contain !important;
    
}


#d20, .attributes{
    background: url(../img/dice/D20.png) no-repeat center;
}

#d12 {
    background: url(../img/dice/D12.png) no-repeat center;
}
    
#d10 {
    background: url(../img/dice/D10.png) no-repeat center;
}

#d8 {
    background: url(../img/dice/D8.png) no-repeat center;
}

#d6 {
    background: url(../img/dice/D6.png) no-repeat center;
}

#d4 {
    background: url(../img/dice/D4.png) no-repeat center;
}

.ability{
    font-size:20px;
    border:3px dashed #292b2d;
    border-radius:50%;
    margin-left:7px;
    padding: 2px 10px;
    
}

.throws {
    
    font-size: 25px;
    padding-left: 10px;
}

li{
    font-size:20px;
}

.display-box{
    background-color:#fff;
    color:#000;
    font-size:30px;
    border: 5px solid #292c2e;
}

.minor-titles{
    font-style:italic;
    font-weight:bold;
}

